doctype html
html
  head
    script src="libs.js" 
    link href="stylesheets/styles.css" rel="stylesheet"
  body
    .container
      .row
        .col-sm-12
          #content

    script src="app.main.js" 
